form {
  padding: 5px;
}

.card {
  background-color: rgba(255, 255, 255, 0.7); /* Adjust the RGBA values and alpha as needed */
  padding: 5px;
}

.centered-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjust margin as needed */
}


.card ul {
  list-style: none;
  padding-left: 0; /* Reset default padding for list items */
}

.card {
  border: none; /* Remove the border */
}

.card-img {
  width: 550px;
  height: 550px;
  margin: 0 auto;
  float: 0 auto;
  margin-bottom: 10px;
}

body {
  background-color: lightblue;
  background-image: url('25501.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center; /* Center align all text */
  font-size: 0.9vw;
}

footer {
  text-align: center;
  font-size: 0.8vw;
  padding: 10px;
  color: #b24b4b;
}

h1 {
  font-size: 2.5vw;
  color: #b24b4b;
}

.App {
  text-align: center;
  background-color: #bdbab3;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #172529;
}